@font-face {
  font-family: "basiic";
  src: url("basiic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "fallout";
  src: url("sharetechmono.ttf") format("truetype");
}

body {
font-family: "basiic", serif;
}
